<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div>
     <h1>formulaire d'ajout de personnage</h1>

     <form th:action="@{/create}" th:object="${personnage}" method="POST">
<!--         <label>Id</label>
         <input type="text" th:field="*{id}">-->
         <label>Name</label>
         <input type="text" th:field="*{name}"> <br>
         <label>Classe</label>
         <input type="text" th:field="*{classe}"> <br>
         <label>Life</label>
         <input type="text" th:field="*{life}"> <br>

         <button type="submit">Create a Hero</button>
     </form>

     <nav>
         <a href="/">Acceuil</a> |
         <a href="/listeDePersonnage">Liste de personnage</a>
     </nav>
 </div>
</body>
</html>