<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#id</th>
        <th scope="col">Name</th>
        <th scope="col">Classe</th>
        <th scope="col">Life</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="hero: ${personnageListe}">
            <th scope="row" th:text="${hero.id}"></th>
            <td  th:text="${hero.name}"></td>
            <td  th:text="${hero.classe}"></td>
            <td  th:text="${hero.life}"></td>
            <td><a th:href="@{'/personnage/' + ${personnageListe.indexOf(hero)}}">Voir</a></td>
        </tr>
    </tbody>

    <nav>
        <a href="/">Acceuil</a> |
        <a href="create">crée un nouveau personnage</a>
    </nav>

</table>
</body>
</html>